* {margin:0px; padding:0px;}
body{
	background:repeating-radial-gradient(red, yellow 10%,green 15%);
	
}
.main{ position:absolute;
      top:10%;
	height:400px;
        	width:100%; 
}
.btn{
	border:none;
	position:absolute;
	top:200px;
	background:transparent;
	color:blue;
	font-size:30px;
}
.btn:hover{ box-shadow: 0 0 5px 3px red;
	
	
	
}
#next{
	 right:0px;
	
	
}
a{text-decoration:none;}